:root{
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
    --white: #eaeaea;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
  
a {
    text-decoration: none;
}

#header{
    position: relative;
    width: 100%;
}
  
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
  
.menu .logo-box{
    margin-left: 20px;
}
  
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
  
.menu .list-container{
    margin-right: 20px;
}
  
.menu .list-container .lists{
    display: flex;
}
  
.menu .list-container .lists li{
    list-style: none;
}
  
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
  
.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}
  
.menu .list-container .lists li a.hover{
    background: var(--red);
    color: #fff;
}
  
.btn-menu > .fa-bars{
    display: none;
}
  
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
  
.container__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*Ir Arriba*/
.go-top{
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.go-top > span{
    font-size: 30px;
    color: var(--black);
}

/*FORMULARIO*/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
  
.footer .deg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
  
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
  
.footer .footer-content{
    width: 100%;
    padding-top: 100px;
    margin: auto;
}
  
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
}
  
.footer .footer-content .footer-title h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    padding: 10px;
}
  
.footer .footer-content .footer-title hr{
    width: 80%;
    margin: auto;
}
  
.footer .footer-content .formulario-content{
    width: 60%;
    background: #fff;
    border-radius: 24px;
    border: 2px solid var(--red);
    margin: 50px auto;
    padding: 30px;
    margin-bottom: 150px;
}
  
.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
  
.footer .footer-content .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
  
.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}
  
.footer .footer-content .formulario-content #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 px;
}
  
.footer .footer-content .formulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
  
.footer .footer-content .formulario-content #formulario .send button:hover{
   background: var(--blue);
}
  
.footer .footer-content .footer-text{
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.8);
    border-top: 5px solid #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer .footer-content .footer-text p{
    color: #fff;
    font-size: 20px;
}

/*Media Query*/
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
      display: block;
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 28px;
      cursor: pointer;
    }
  
    .menu .list-container{
      position: absolute;
      top: 60px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 300px);
      background: #fff;
    }
  
    .menu .list-container .lists{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top: 5px solid var(--red);
    }
  
    .menu .list-container .lists li{
      width: 90%;
      margin: 10px 0px;
      border-bottom: 1px solid var(--red);
      text-align: center;
    }
  
    .menu .list-container .lists li a{
      font-size: 20px;
    }
  
    .menu .list-container .lists li a.activo{
      background: none;
      color: var(--red);
    }
  
    .menu .list-container .lists li a:hover{
      background: none;
      color: var(--red);
    }
  }